<!DOCTYPE html>
<html>

<head>
    <%- include('../../includes/header.ejs') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/activities.css" />
    <script src="/scripts/dash.js"></script>
</head>

<body>
    <%- include('../../includes/nav.ejs') %>
    <div class="actBack">
        <div class="alert"> </div>
        <div class="container">
            <% if (acts.length > 0) { %>
            <div class="act-grid-container">
                <% for (let activity of acts) { %>
                <article class="card-control">
                    <header class="card_header">
                        <h1 class="activity-title">
                            <%= activity.title %>
                        </h1>
                    </header>
                    <div>
                        <p class="actDesc">
                            <%= activity.description %>
                        </p>
                    </div>
                    <div class="card-actions">
                        <form>
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>" id="myToken">
                            <button class="btn add-to-bucket" type="button"
                                onclick="addToBucket('<%= activity._id %>')">Add to Bucket</button>
                            <!-- <input type="hidden" name="activityId" value="<%= activity._id %>"> -->
                        </form>

                    </div>
                </article>
                <% } %>
            </div>
            <% } else { %>
            <h1>There are no activities yet.</h1>
            <p>Please send some activities to the admin to add them here. Thank you.</p>
            <% } %>
        </div>
        <% if (user.role === 'member') { %>
        <br><br><button class="btn btn-danger" data-toggle="modal" data-target="#myModal">Submit idea</button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Activity idea</h4>
                        <button type="button" class="close" id="closeModal" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="activityName">Name of activity</label>
                                <input name="ideaName" type="text" class="form-control" id="ideaName"
                                    placeholder="Activity name">
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea name="ideaDesc" type="text" class="form-control" id="ideaDesc"
                                    placeholder="Description"></textarea>
                            </div>
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <input type="hidden" name="userEmail" value="<%= user.email %>">
                            <button type="button" class="btn btn-success" onclick="sendIdea('<%= user.email %>', '<%= csrfToken %>')">Send</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger btn-default pull-left"
                            data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <%- include('../../includes/end.ejs') %>