<%- include('../../includes/header.ejs') %>
<link rel="stylesheet" href="/stylesheets/forms.css">
</head>

<body>
    <%- include('../../includes/nav.ejs') %>

    <div class="container">
        <div class="d-flex justify-content-left h-100">
            <div class="card">
                <div class="card-header">
                    <h3 class="secure-login">Add / Edit activity</h3>
                </div>
                <div class="card-body">
                    <% if (errorMessage) { %>
                    <div class="alert alert-warning" role="alert"><%= errorMessage %></div>
                    <% } %>
                    <form action="/admin/<% if (editing) { %>edit-activity<% } else { %>add-activity<% } %>"
                        method="POST">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-pen"></i></span>
                            </div>
                            <input
                                class="<%= validationErrors.find(e => e.param === 'title') ? 'invalid' : '' %> form-control"
                                placeholder="Activity name" type="text" name="title" id="title"
                                value="<% if (editing || hasError) { %><%= activity.title %><% } %>">
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-edit"></i></span>
                            </div>
                            <textarea
                                class="<%= validationErrors.find(e => e.param === 'description') ? 'invalid' : '' %> form-control"
                                placeholder="Activity description" name="description" id="description"
                                rows="5"><% if (editing || hasError) { %><%= activity.description %><% } %></textarea>
                        </div>
                        <% if (editing) { %>
                        <input type="hidden" value="<%= activity._id %>" name="activityId">
                        <% } %>

                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <div class="form-group">
                            <button class="btn float-right login_btn" type="submit"><% if (editing) { %>Update<% } else { %>Add <% } %></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <%- include('../../includes/end.ejs') %>