<!DOCTYPE html>
<html>

<head>
    <%- include('../../includes/header.ejs') %>
    <link rel="stylesheet" href="/stylesheets/forms.css">
</head>

<body>
    <%- include('../../includes/nav.ejs') %>

    <div class="container">
        <div class="d-flex justify-content-left h-100">
            <div class="card">
                <div class="card-header">
                    <h3 class="secure-login">Password Reset</h3>
                </div>
                <div class="card-body">
                    <% if (errorMessage) { %>
                    <div class="alert alert-warning" role="alert"><%= errorMessage %></div>
                    <% } %>
                    <form action="/auth/new-password" method="POST">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input class="form-control" type="password" name="password" id="password"
                                placeholder="Password">
                        </div>
                        <input type="hidden" name="userId" value="<%= userId %>">
                        <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <div class="form-group">
                            <button class="btn float-right login_btn" type="submit">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <%- include('../../includes/end.ejs') %>