<nav class="navbar navbar-expand-sm navbar-light bg-info shadow sticky-top">
  <div class="container">
    <a class="navbar-brand" href="/"><img class="logo" src="/images/C9forlifeLogo.png" width="50" height="50"
        class="d-inline-block align-top" alt="MAD logo"></a>
        <% if (isAuthenticated) { %>
          <a class="main-header-user nav-link">HI, <%= user.firstName.toUpperCase() %><span style="font-size:20px"> &#128540;</span></a>
        <% } %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <!-- <a class="nav-item nav-link <%= path === '/' ? 'active' : ''%>" href="/">HOME <span
            class="sr-only">(current)</span></a> -->
        <% if (isAuthenticated) { %>
        <a class="nav-item nav-link <%= path === '/dashboard' ? 'active' : ''%>" href="/mad/dashboard">DASHBOARD</a>
        <a class="nav-item nav-link <%= path === '/activities' ? 'active' : ''%>" href="/mad/activities">ACTIVITIES</a>
        <% if (user.role === 'admin') { %>
        <a class="nav-item nav-link <%= path === '/adminActivities' ? 'active' : ''%>" href="/admin/activities">ADMIN</a>
        <% } %>
        <a class="nav-item nav-link <%= path === '/motivation' ? 'active' : ''%>" href="/mad/motivation">MOTIVATION</a>
        <% } %>
        <% if (!isAuthenticated) { %>
        <a class="nav-item nav-link <%= path === '/contact' ? 'active' : ''%>" href="/mad/contact">CONTACT</a>
        <a class="nav-item nav-link <%= path === '/login' ? 'active' : '' %>" href="/auth/login"><span
            class="glyphicon glyphicon-log-in"></span> LOGIN</a>
        <a class="nav-item nav-link <%= path === '/signup' ? 'active' : '' %>" href="/auth/signup"><span
            class="glyphicon glyphicon-user"></span> SIGN UP</a>
        <% } else { %>
        <a class="nav-item" href="#">
          <form action="/auth/logout" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn bttn btn-sm navbar-btn" type="submit">LOGOUT</button>
          </form>
        </a>
        <% } %>
      </div>
    </div>
  </div>
</nav>